<!doctype html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <title>Student registration form</title>
</head>
<body>
<h3>Student registration form</h3>

<form method="POST" th:action="@{/processStudentForm}" th:object="${student}">
    First name: <input th:field="*{firstName}" type="text"/>

    <br><br>

    Lastname: <input th:field="*{lastName}" type="text"/>

    <br><br>

    Country: <select th:field="*{country}">
    <option th:each="tempCountry: ${countries}" th:text="${tempCountry}" th:value="${tempCountry}"/>
    <!--    The code above comes from the showForm method, it uses values from resource.properties and inserts them on the country attribute from the select tag above-->
</select>

    <br><br>

    <input type="submit">
</form>

</body>
</html>
